<table mat-table [dataSource]="sensors" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="sensorType">
      <th mat-header-cell *matHeaderCellDef> Sensor Type </th>
      <td mat-cell *matCellDef="let element"> {{element.sensorType}} </td>
  </ng-container>
  <ng-container matColumnDef="rangeStart">
      <th mat-header-cell *matHeaderCellDef> Range Start </th>
      <td mat-cell *matCellDef="let element"> {{element.rangeStart}} </td>
  </ng-container>
  <ng-container matColumnDef="rangeEnd">
      <th mat-header-cell *matHeaderCellDef> Range End </th>
      <td mat-cell *matCellDef="let element"> {{element.rangeEnd}} </td>
  </ng-container>
  <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>
  <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onDetailsClick(row.id)">
              <mat-icon>edit</mat-icon>
          </button>
      </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell  *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onDeleteClick(row.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
