:host ::ng-deep {
  .mat-form-field-infix {
      display: flex;
  }
}

.main-container {
  width: 50%;
  padding: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}
